doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body

    -
      const icons = [
        'mail',
        'search',
        'analytics',
        'marketing'
      ]

    - for(let i = 0; i < icons.length; i += 1)
      svg
        use(xlink:href="images/sprites/sprite-mono.svg#" + icons[i])

      svg
        use(xlink:href="images/sprites/sprite-multi.svg#" + icons[i])
